
<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">Tables</li>
</ol>

<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-car"></i>
    Liste des Maintenances
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>Montant</th>
          <th>Date</th>
          <th>kilometrage</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let maintenance of mainenances;let i=index">
          <td>{{mission.montant}}</td>
          <td>{{mission.date-debut}}</td>
          <td>{{{mission.date-fin}}</td>
          <td>{{mission.objet}}</td>
          <td>
            <a class="btn btn-primary" [routerLink]="['/manage-maintenance/edit/'+maintenance.id]">Edit</a>
            <a class="btn btn-danger" (click)="delete(i)">Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>


