
<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">Tables</li>
</ol>

<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-car"></i>
    Liste des Employes
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>Cin</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Adresse</th>
          <th>Profession</th>
          <th>Date D'embauche</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employe of employes;let i=index">
          <td>{{employe.cin}}</td>
          <td>{{employe.nom}}</td>
          <td>{{employe.prenom}}</td>
          <td>{{employe.adresse}}</td>
          <td>{{employe.profession}}</td>
          <td>{{employe.dateembauche}}</td>
          <td>
            <a class="btn btn-primary" [routerLink]="['/manage-employe/edit/'+employe.id]">Edit</a>
            <a class="btn btn-danger" (click)="delete(i)">Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
